*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  body {
    display: flex;
    height: 110vh;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background: #343A40;
  }
  .container {
    max-width: 700px;
    width: 100%;
    background-color: #FDFAF6;
    padding: 25px 30px;
    border-radius: 10px;
  }
  .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
  }
  .container .title::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
  }
  .container .form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  .form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 3 - 20px);
  }
  
  .user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  
  .user-details .input-box input:focus {
    border-color: #343A40;
  }
  
  .form .btn {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .form .btn input {
    height: 100%;
    width: 100%;
    outline-color: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #343A40;
  }
  
  .form .btn input:hover {
    background: #444444;
  
  }
  .btn {
    height: 100%;
    width: 15%;
    color: #fff;
    border: none;
    cursor:pointer;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #343A40;
  }

  #outer {
    width: 100%;
    margin-top: 7%;
    text-align:center;
  }

  .btn:hover {
    background: #444444;
  }
  .selectem{
    color: green;
  }
  .updatem{
    color: #548CA8;
  }
  .deletem{
    color: red;
  }
  .btn-last{

    display: block;
    width: 100%;
    border: none;
    padding: 14px 28px;
    cursor: pointer;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: #343A40;
    font-family:'Raleway', sans-serif ;
  }
  .btn-last:hover {
    background: #444444;
  }
  .select-box{
    height: 45px;
    width: 100%;
    border-radius:5px; 
    font-size: 15px;
    font-weight: 500;
  }
  @media (max-width: 584px) {
    .container {
      max-width: 100%;
    }
    form .user-details .input-box {
      margin-bottom: 15px;
      width: 100%;
    }
  }